# --- Java / Spring Boot ---
target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/wrapper/maven-wrapper.jar
/build/
.gradle/
bin/

# --- Angular / Node ---
node_modules/
/dist/
/.angular/
.npm/
package-lock.json
yarn.lock
connect.lock
input-file-list.cache
/src/assets/i18n/*.json
/src/environments/environment.prod.ts

# --- IDEs (IntelliJ, VS Code, Eclipse) ---
.idea/
*.iml
*.iws
.vscode/
.settings/
.classpath
.project
.factorypath
.metadata/

# --- Otros / SO ---
.DS_Store
Thumbs.db
tmp/
temp/
.env
.env.local